.scroll-box {
  overflow-y: scroll;
  max-height: 30vh;
  padding: 1rem;
}

.scroll-box-small {
  overflow-y: scroll;
  max-height: 10vh;
  padding: 1rem;
}

.border-cover {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
